@use '../abstract' as abs;
@use '../components' as comp;
@use '../base' as base;

.footer {
    width: 100%;
    &__container {
        width: 100%;
        @include abs.flex(column, center, flex-start);
        margin-top: 3rem;
        padding: 0 1rem;

        @include abs.breakpoint(tablet) {
            margin-top: 3rem;
            padding: 0 4rem;
        }

        @include abs.breakpoint(desktop) {
            @include abs.flex(row, flex-start, center);
            padding: 0 8rem;
            gap: 4rem;
        }
    }

    &__content {
        width: 100%;
        @include abs.breakpoint(desktop) {
        }
    }

    &__company {
        margin-top: 0.5rem;
        width: 100%;
        gap: 1rem;
        margin-bottom: 2rem;
        @include abs.flex(row, flex-start, center);
        @include abs.breakpoint(tablet) {
            padding: 0.5rem 0rem;
            margin-bottom: 1.5rem;
        }
    }

    &__company-logo {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__company-name {
        font-family: 'circular-std';
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: abs.$dark;
    }

    &__description {
        @include base.circular-std-regular(1);
        width: 100%;
        min-height: 4rem;
        line-height: 160%;
        font-weight: 450;
        letter-spacing: 0;
        color: abs.$deep-gray;
        margin-bottom: 2rem;
        @include abs.breakpoint(tablet) {
            padding-top: 0;
            max-width: 55rem;
            font-size: 1.45rem;
        }
        @include abs.breakpoint(desktop) {
            margin-bottom: 4rem;
        }
    }

    &__social-handles {
        @include abs.flex(row, flex-start, center);
        gap: 2rem;
        width: 100%;
        margin-bottom: 3.5rem;
        @include abs.breakpoint(tablet) {
            margin-bottom: 1.5rem;
        }
    }

    &__social-icon {
        background-color: abs.$primary-color;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        @include abs.flex(row, center, center);
    }

    &__list-wrapper {
        width: 100%;
        @include abs.flex(column, center, flex-start);
        gap: 2rem;

        @include abs.breakpoint(tablet) {
            @include abs.flex(row, flex-start, flex-start);
            gap: 4.5rem;
        }

        @include abs.breakpoint(desktop) {
            gap: 1rem;
        }
    }

    &__list-heading-wrapper {
        width: 100%;
        min-width: 25rem;
        height: 2rem;
        margin-top: 2.2rem;
        cursor: pointer;
        @include abs.flex(row, space-between, center);

        @include abs.breakpoint(tablet) {
            min-width: 15rem;
            margin-bottom: 2rem;
        }

        @include abs.breakpoint(desktop) {
            margin-top: 0;
            min-width: 10rem;
        }
    }

    &__list-heading {
        font-family: 'circular-std';
        font-weight: 700;
        font-size: 1.4rem;
    }

    &__list-icon {
        font-size: 1.5rem;
        &--open {
            transform: rotate(180deg);
        }

        @include abs.breakpoint(tablet) {
            display: none;
        }
    }

    &__list-items {
        height: 0;
        width: 0;
        overflow: hidden;
        font-size: 1.1rem;
        line-height: 160%;
        @include abs.flex(column, center, flex-start);
        &--open {
            height: fit-content;
            width: 100%;
        }

        @include abs.breakpoint(tablet) {
            height: fit-content;
            width: 100%;
            gap: 2rem;
        }
    }

    &__list-item {
        font-family: 'circular-std';
        color: abs.$deep-gray;
    }
}
