@use '../abstract' as abs;
@use '../components' as comp;
@use '../base' as base;

.navbar {
    display: flex;
    @include abs.flex(row, center, center);

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__container {
        @include abs.flex(column, center, center);
        width: 100%;

        @include abs.breakpoint(tablet) {
            @include abs.flex(row, space-between, center);
            max-width: 58rem;
            padding: 0 1rem;
        }

        @include abs.breakpoint(desktop) {
            @include abs.flex(row, space-between, center);
            max-width: 80rem;
            padding: 0 1rem;
        }
    }

    &__left-sub-container {
        @include abs.flex(row-reverse, space-between, center);
        width: 100%;
        height: 7.5rem;
        padding: 0 1.1rem;

        @include abs.breakpoint(tablet) {
            width: 52%;
            @include abs.flex(row, space-between, center);
            padding: 0;
            height: 7rem;
        }

        @include abs.breakpoint(desktop) {
            height: 11.5rem;
            width: 9rem;
            @include abs.flex(row, center, center);
        }
    }

    &__logo {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__menu {
        border: 0;
        background-color: transparent;
        @include abs.breakpoint(desktop) {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__links {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        width: 100%;
        gap: 1rem;
        padding: 1rem 0;
        @include abs.flex(column, center, center);

        &--open {
            max-height: 15rem;
            opacity: 1;
            visibility: visible;
        }
        @include abs.breakpoint(mobile) {
            transition: visibility 0.4s ease-in-out;
        }
        @include abs.breakpoint(tablet) {
            transition: position 0.4s ease-in-out;
            position: fixed;
            top: 7rem;
            left: 0;
        }

        @include abs.breakpoint(desktop) {
            padding: 0 0.1rem;
            gap: 0;
            transition: unset;
            max-height: 15rem;
            opacity: 1;
            visibility: visible;
            position: relative;
            top: 0;
            @include abs.flex(row, space-between, center);
            max-width: 27rem;
        }
    }

    &__link {
        font-family: 'circular-std';
        font-weight: 700;
        font-size: 15px;
        color: #19182580;
        padding: 1rem;
        cursor: pointer;
        transition: color 0.3s ease;

        @include abs.breakpoint(desktop) {
            padding: 0;
        }

        &:hover {
            color: abs.$dark;
        }

        &--active {
            color: abs.$dark;
            font-weight: bold;
        }
    }

    &__actions {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: visibility 0.4s ease-in-out;
        width: 100%;
        @include abs.flex(column, center, center);
        gap: 1rem;

        &--open {
            max-height: 15rem;
            opacity: 1;
            visibility: visible;
        }
        @include abs.breakpoint(tablet) {
            max-height: 15rem;
            opacity: 1;
            visibility: visible;
            @include abs.flex(row, center, center);
            width: fit-content;
            display: flex;
            gap: 0rem;
        }
        @include abs.breakpoint(desktop) {
            height: 8rem;
            width: 17rem;
            gap: 0.1rem;
            padding: 0.2rem;
            justify-content: flex-end;
        }
    }

    &__login {
        @include comp.button-template(1, 2, 0.9);
        background-color: #ffffff;
    }

    &__signup {
        @include comp.button-template(1, 2, 0.9, secondary);

        &:hover {
            background-color: abs.$secondary-color;
            color: abs.$dark;
        }
    }
}
