.navbar {
    @include full-width;
    @include flex-row;
    justify-content: center;

    &__container {
        @include flex-row;
        width: 95rem;
        height: 14.5rem;
        position: relative;
        justify-content: space-between;
        align-items: center;
        // Logo
        & .navbar__logo {
            width: 3.2rem;
            height: 3.2rem;
        }

        // Nav links
        & ul {
            @include flex-row;
            justify-content: space-between;
            width: 34rem;

            li {
                @include circular-std-regular;
            }
        }

        // Actions (like login)
        & .navbar__actions {
            & .navbar__login {
                @include secondary-button;
            }

            & .navbar__signup {
                @include primary-button;
            }
        }
    }
}
@use '../abstract' as abs;
@use '../components/' as comp;
@use '../base/' as base;

.navbar {
    display: flex;
    @include abs.flex(row, center, center);

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__container {
        @include abs.flex(column, center, center);
        width: 100%;

        @include abs.breakpoint(medium) {
            @include abs.flex(row, space-between, center);
            max-width: 56rem;
        }

        @include abs.breakpoint(large) {
            max-width: 78rem;
        }
    }

    &__left-sub-container {
        @include abs.flex(row-reverse, space-between, center);
        width: 100%;
        height: 7.5rem;
        padding: 0 1.1rem;

        @include abs.breakpoint(medium) {
            width: 52%;
            @include abs.flex(row, space-between, center);
            padding: 0;
            height: 7rem;
        }

        @include abs.breakpoint(large) {
            height: 11.5rem;
            width: 9rem;
            @include abs.flex(row, center, center);
        }
    }

    &__logo {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__menu {
        @include abs.breakpoint(large) {
            display: none;
        }
    }

    &__links {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.4s ease-in-out;

        width: 100%;
        @include abs.flex(column, center, center);
        &--open {
            max-height: 15rem;
            opacity: 1;
            visibility: visible;
        }
        @include abs.breakpoint(medium) {
            position: absolute;
            top: 7rem;
            left: 0rem;
            border: solid transparent 2rem;
        }

        @include abs.breakpoint(large) {
            max-height: 15rem;
            opacity: 1;
            visibility: visible;
            position: relative;
            top: 0;
            @include abs.flex(row, space-between, center);
            width: 100%;
            max-width: 31rem;
        }
    }

    &__link {
        font-family: 'circular-std-semibold';
        font-size: 14px;
        color: #19182580;
        padding: 1rem;
        cursor: pointer;
        transition: color 0.3s ease;

        @include abs.breakpoint(large) {
            padding: 0;
        }

        &:hover {
            color: abs.$dark;
        }

        &--active {
            color: abs.$dark;
            font-weight: bold;
        }
    }

    &__actions {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        width: 100%;
        @include abs.flex(column, center, center);
        gap: 1rem;
        &--open {
            max-height: 15rem;
            opacity: 1;
            visibility: visible;
        }
        @include abs.breakpoint(medium) {
            max-height: 15rem;
            opacity: 1;
            visibility: visible;
            @include abs.flex(row, center, center);
            width: fit-content;
            display: flex;
            padding-left: 3.8rem;
            gap: 0rem;
        }
    }

    &__login {
        @include comp.button-template(1, 2, 14);
        background-color: #ffffff;
    }

    &__signup {
        @include comp.button-template(1, 2, 14, secondary);

        &:hover {
            background-color: rgba(abs.$secondary-color, 0.9);
            color: abs.$dark;
        }
    }
}
