@use '../abstract' as abs;
@use '../components/' as comp;
@use '../base/' as base;

.hero {
    &__container {
        width: 100%;
        padding-top: 1.8rem;

        @include abs.breakpoint(large) {
            padding: 0 6rem;
            @include abs.flex(row-reverse, center, center);
            height: 50rem;
        }
    }

    &__left-container {
        width: 100%;
        padding: 0 0.6rem 0 0.9rem;
        position: relative;

        @include abs.breakpoint(medium) {
            padding: 2rem 7rem 0rem 8rem;
            margin-bottom: 1rem;
        }
        @include abs.breakpoint(large) {
            padding: 2rem 0 0 1rem;
        }
    }

    &__right-container {
        @include abs.flex(column, center, center);

        @include abs.breakpoint(medium) {
            width: 100%;
        }

        @include abs.breakpoint(large) {
            @include abs.flex(column, flex-start, flex-start);
            text-wrap: balance;
            height: 100%;
            width: 55%;
        }
    }

    &__explore-button {
        @include base.circular-std-regular(15);
        @include comp.button-template(1, 2, 14);
        @include abs.flex(row, center, center);
        color: abs.$secondary-color;
        gap: 1.4rem;
        box-shadow: 0px 41px 90px #{abs.$shadow-color};
        margin-bottom: 1.1rem;

        @include abs.breakpoint(medium) {
            margin-bottom: 3rem;
        }

        @include abs.breakpoint(large) {
            position: relative;
            top: 5.8rem;
            left: 2.2rem;

            margin-bottom: 9rem;
        }
        i {
            font-size: 1.3rem;
        }
    }

    &__description {
        width: 100%;
        padding: 0 1rem;
        margin-bottom: 2rem;
        @include base.card-description-regular;
        @include abs.breakpoint(medium) {
            padding: 0;
            max-width: 28rem;
            margin-bottom: 2.7rem;
        }
        @include abs.breakpoint(large) {
            padding-left: 2rem;
            text-align: left;
            max-width: 28rem;
            margin-bottom: 5rem;
        }
    }

    &__actions {
        @include abs.flex(column, center, center);
        gap: 1.6rem;
        @include abs.breakpoint(medium) {
            width: 100%;
            @include abs.flex(row, center, center);
            max-width: 28rem;
        }
        @include abs.breakpoint(large) {
            justify-content: flex-start;
            padding-left: 2rem;
        }
    }

    &__get-started {
        @include comp.button-template(1.5, 10, 14);
        background-color: abs.$primary-color;
        color: #fff;
        box-shadow: 0px 41px 90px #{abs.$shadow-color};
        @include abs.breakpoint(medium) {
            @include comp.button-template(1, 2.1, 14);
            color: #fff;
        }
    }

    &__watch-demo {
        @include abs.flex(row, center, center);
        @include comp.button-template(1.5, 9, 14);
        background-color: #fff;
        color: abs.$dark;
        border: 1px solid #eeeeee;
        gap: 0.6rem;
        i {
            font-size: 1.2rem;
        }
        @include abs.breakpoint(medium) {
            @include comp.button-template(1, 2, 14);
        }
    }

    &__main-heading {
        width: 100%;
        max-width: 24rem;
        text-align: center;
        margin-bottom: 1.5rem;

        @include abs.breakpoint(medium) {
            max-width: 37rem;
            margin-bottom: 2rem;
        }

        @include abs.breakpoint(large) {
            text-align: left;
            padding-left: 2rem;
            font-style: bold;
            margin-bottom: 2.7rem;
        }

        &--highlighted {
            color: abs.$secondary-color;
        }
    }

    &__object {
        position: absolute;
        display: none;
        @include abs.breakpoint(medium) {
            display: block;
            top: 79rem;
            left: 2.3rem;
        }
        @include abs.breakpoint(large) {
            left: 2.5rem;
            top: 54.2rem;
        }
    }
}
