@use '../abstract' as abs;
@use '../base' as base;

.information {
    margin-top: 4rem;
    width: 100%;
    gap: 2rem;
    @include abs.flex(column, center, center);
    position: relative;
    @include abs.breakpoint(desktop) {
        gap: 2rem;
        margin-top: 3.5rem;
        @include abs.flex(row, flex-start, center);
    }

    &__image-wrapper {
        width: 100%;
        @include abs.flex(row, center, center);
        padding: 0.4rem 1rem;
        @include abs.breakpoint(tablet) {
            width: 100%;
            padding: 4rem 2rem 2rem 4rem;
        }

        @include abs.breakpoint(desktop) {
            padding: 0;
            margin-top: 0;
            min-height: 43rem;
            max-width: 54.5rem;
            width: 60%;
        }
        &-image {
            height: 100%;
            @include abs.breakpoint(desktop) {
                object-fit: cover;
            }
        }
    }

    &__content {
        width: 100%;
        @include abs.flex(column, center, center);
        @include abs.breakpoint(desktop) {
            width: 40%;
            align-items: flex-start;
            margin-top: 0.5rem;
            padding: 2rem 0;
        }
    }

    &__section-name {
        @include base.section-title-heading;
        @include abs.breakpoint(desktop) {
            text-align: left;
            padding-top: 1rem;
        }
    }

    &__section-heading {
        padding: 1rem 0 1.9rem 0;
        text-align: center;
        @include base.section-description;
        @include abs.breakpoint(desktop) {
            text-align: left;
            max-width: 30rem;
        }
    }

    &__section-description {
        max-width: 22rem;
        padding: 0 1rem 0 0;
        @include base.card-description-regular;
        @include abs.breakpoint(tablet) {
            font-size: 1.15rem;
            max-width: 51rem;
        }
        @include abs.breakpoint(desktop) {
            text-align: left;
            max-width: 30rem;
        }
    }

    &__card-wrapper {
        margin-top: 1rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
        row-gap: 1rem;

        @include abs.breakpoint(tablet) {
            margin-top: 4rem;
            grid-template-columns: 1fr 1fr;
            column-gap: 2.5rem;
            row-gap: 2rem;
            padding: 0 6rem;
        }

        @include abs.breakpoint(desktop) {
            padding: 0 7rem 0 0;
        }
    }

    &__card {
        width: 100%;
        border: 0.1rem solid #{abs.$shadow-color};
        padding: 3.2rem 1rem 1.9rem;
        border-radius: 1.5rem;
        gap: 2.5rem;
        background-color: abs.$white;
        @include abs.flex(column, space-around, center);
        @include abs.breakpoint(tablet) {
            gap: 2.2rem;
        }

        &:hover {
            @include abs.drop-shadow();
            cursor: pointer;
        }
    }

    &__card-heading {
        @include base.circular-std-regular(2.2);
        line-height: 0;
        color: abs.$accent-orange;
    }

    &__card-description {
        color: abs.$dark;
        line-height: 0;
        @include base.card-description-regular;
        @include abs.breakpoint(mobile) {
            font-size: 1.1rem;
        }
    }

    &__background-asset {
        display: none;
        @include abs.breakpoint(desktop) {
            display: block;
            position: absolute;
            right: 0;
            top: 17.5rem;
            z-index: -1;
        }
    }
}
