@use '../abstract' as abs;
@use '../base' as base;

.information {
    margin-top: abs.ptr(64);
    width: 100%;
    max-width: abs.ptr(1600);
    gap: abs.ptr(32);
    position: relative;
    @include abs.flex(column, center, center);
    @include abs.breakpoint(desktop) {
        gap: abs.ptr(80);
        margin-top: abs.ptr(0);
        @include abs.flex(row, flex-start, center);
    }

    &__image-wrapper {
        width: 100%;
        @include abs.flex(row, flex-start, flex-start);
        padding: abs.ptr(8) 0;
        max-width: abs.ptr(400);

        @include abs.breakpoint(tablet) {
            max-width: abs.ptr(880);
            width: 100%;
            padding: abs.ptr(64) abs.ptr(32) abs.ptr(48) abs.ptr(24);
        }

        @include abs.breakpoint(desktop) {
            padding: 0 0 0 abs.ptr(1.6);
            margin-top: 0;
            max-width: abs.ptr(792);
        }
        &-image {
            width: 100%;
            max-width: abs.ptr(360);
            height: 100%;
            @include abs.breakpoint(tablet) {
                margin-top: 0;
                max-width: abs.ptr(784);
            }
            @include abs.breakpoint(tablet-lg) {
                max-width: abs.ptr(808);
            }
            @include abs.breakpoint(desktop) {
                object-fit: contain;
            }
        }
    }

    &__content {
        width: 100%;
        margin-top: abs.ptr(1.6);
        @include abs.flex(column, center, center);
        @include abs.breakpoint(desktop) {
            width: 40%;
            align-items: flex-start;
            padding: abs.ptr(48) 0;
            margin: abs.ptr(32) auto 0;
        }
    }

    &__section-name {
        @include base.section-title-heading;
        @include abs.breakpoint(desktop) {
            text-align: left;
            padding-top: abs.ptr(16);
            padding-top: abs.ptr(32);
        }
    }

    &__section-heading {
        width: 100%;
        max-width: abs.ptr(480);
        padding: abs.ptr(16) 0 abs.ptr(30.4) 0;
        text-align: center;
        @include base.section-description;
        @include abs.breakpoint(tablet) {
            max-width: abs.ptr(880);
        }
        @include abs.breakpoint(desktop) {
            max-width: abs.ptr(480);
            text-align: left;
        }
    }

    &__section-description {
        @include abs.line-clamp(3);
        max-width: abs.ptr(360);
        padding: 0;
        @include base.card-description-regular;
        @include abs.breakpoint(tablet) {
            font-size: abs.ptr(18.4);
            max-width: abs.ptr(816);
        }
        @include abs.breakpoint(desktop) {
            text-align: left;
            width: 100%;
            max-width: abs.ptr(480);
        }
    }

    &__card-wrapper {
        margin-top: abs.ptr(16);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: abs.ptr(16);
        row-gap: abs.ptr(16);

        @include abs.breakpoint(tablet) {
            margin-top: abs.ptr(64);
            grid-template-columns: 1fr 1fr;
            column-gap: abs.ptr(32);
            row-gap: abs.ptr(32);
            padding: 0 abs.ptr(96);
        }

        @include abs.breakpoint(desktop) {
            padding: 0 abs.ptr(112) 0 0;
        }
    }

    &__card {
        width: 100%;
        border: abs.ptr(1.6) solid #{abs.$shadow-color};
        padding: abs.ptr(51.2) abs.ptr(16) abs.ptr(30.4);
        border-radius: abs.ptr(24);
        gap: abs.ptr(40);
        background-color: abs.$white;
        @include abs.flex(column, space-around, center);
        @include abs.breakpoint(tablet) {
            gap: abs.ptr(35.2);
        }

        &:hover {
            @include abs.drop-shadow();
            cursor: pointer;
        }
    }

    &__card-heading {
        @include abs.breakpoint(1);
        max-width: abs.ptr(112);
        @include base.circular-std-regular(2.2);
        line-height: 0;
        color: abs.$accent-orange;
    }

    &__card-description {
        @include abs.line-clamp(1);
        max-width: abs.ptr(160);
        color: abs.$dark;
        line-height: 0;
        @include base.card-description-regular;
        @include abs.breakpoint(mobile) {
            font-size: abs.ptr(17.6);
        }
    }

    &__background-asset {
        display: none;
        @include abs.breakpoint(desktop) {
            display: block;
            position: absolute;
            right: 0;
            top: abs.ptr(336);
            z-index: 1;
        }
    }
}
