@use '../abstract' as abs;
@use '../components/' as comp;
@use '../base/' as base;
.features {
    margin-top: 4rem;
    width: 100%;
    gap: 2rem;
    @include abs.flex(column, center, center);

    @include abs.breakpoint(large) {
        margin-top: 3rem;
        @include abs.flex(row, flex-start, center);
    }

    &__image-wrapper {
        width: 100%;
        @include abs.flex(row, center, center);
        padding: 0 1rem;
        @include abs.breakpoint(medium) {
            width: 100%;
            padding: 1.5rem 2rem;
        }

        @include abs.breakpoint(large) {
            padding: 0;
            height: 45rem;
            width: 60%;
        }
        img {
            height: 100%;
        }
    }

    &__content {
        width: 100%;
        @include abs.flex(column, center, center);
        @include abs.breakpoint(large) {
            width: 40%;
            align-items: flex-start;
            padding: 2rem 0rem;
        }
    }

    &__section-name {
        @include base.section-name-heading;
        @include abs.breakpoint(large) {
            text-align: left;
        }
    }

    &__section-heading {
        padding: 1rem 0 2.5rem 0;
        text-align: center;
        @include base.section-description;
        @include abs.breakpoint(large) {
            text-align: left;
            max-width: 30rem;
        }
    }

    &__section-description {
        max-width: 22rem;
        @include base.card-description-regular;
        @include abs.breakpoint(medium) {
            max-width: 50rem;
        }
        @include abs.breakpoint(large) {
            text-align: left;
            max-width: 30rem;
        }
    }

    &__card-wrapper {
        margin-top: 1rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
        row-gap: 1rem;

        @include abs.breakpoint(medium) {
            margin-top: 4rem;
            grid-template-columns: 1fr 1fr;
            column-gap: 2.5rem;
            row-gap: 2rem;
            padding: 0 6rem;
        }

        @include abs.breakpoint(large) {
            padding: 0 7rem 0 0;
        }
    }

    &__card {
        width: 100%;
        border: 1px solid #{abs.$shadow-color};
        padding: 2.5rem 3rem;
        border-radius: 1.5rem;
        gap: 2.5rem;
        @include abs.flex(column, space-around, center);

        @include abs.breakpoint(medium) {
            padding: 2.5rem 1rem;
        }
    }

    &__card-heading {
        @include base.circular-std-regular(35);
        line-height: 0%;
        color: abs.$accent-orange;
    }

    &__card-description {
        color: abs.$dark;
        line-height: 0%;
        font-size: 1.2rem;
        @include base.card-description-regular;
    }
}
