@use '../abstract' as abs;
@use '../components' as comp;
@use '../base' as base;

%newsletter-fonts {
    font-size: abs.ptr(16);
    @include abs.breakpoint(tablet) {
        font-size: abs.ptr(24);
    }
}

.newsletter {
    margin-top: abs.ptr(168);
    width: 100%;
    @include abs.flex(row, center, center);

    @include abs.breakpoint(tablet) {
        padding: 0 abs.ptr(64);
        margin-top: abs.ptr(112);
    }

    @include abs.breakpoint(desktop) {
        margin-top: abs.ptr(176);
        padding: 0 abs.ptr(112);
    }

    &__background-asset {
        display: none;
        @include abs.breakpoint(tablet) {
            display: block;
            position: absolute;
            top: abs.ptr(-40);
            left: abs.ptr(-40);
            height: 0;
        }
        @include abs.breakpoint(desktop) {
            right: abs.ptr(532.8);
        }
    }

    &__container {
        position: relative;
        width: 100%;
        @include abs.flex(column, center, center);
        padding-top: abs.ptr(9.6);

        @include abs.breakpoint(tablet) {
            max-width: abs.ptr(896);
            padding: abs.ptr(128) 0 abs.ptr(64) 0;
            background-color: abs.$accent-yellow-bg;
            border-radius: abs.ptr(32);
        }

        @include abs.breakpoint(desktop) {
            padding-top: abs.ptr(136);
            padding-left: abs.ptr(16);
            margin-top: abs.ptr(48);
            max-width: abs.ptr(1184);
        }
    }

    &__section-name {
        text-align: center;
        margin-bottom: abs.ptr(32);
        max-width: abs.ptr(240);
        @include base.section-title-heading;
        @include abs.breakpoint(mobile) {
            @include abs.line-clamp(2);
        }
        @include abs.breakpoint(mobile-lg) {
            @include abs.line-clamp(2);
        }
        @include abs.breakpoint(tablet) {
            max-width: abs.ptr(560);
        }
    }

    &__section-heading {
        text-align: center;
        max-width: abs.ptr(320);
        margin-bottom: abs.ptr(32);
        @include base.section-description;
        @include abs.breakpoint(tablet) {
            max-width: abs.ptr(720);
            margin-bottom: abs.ptr(8);
        }
        @include abs.breakpoint(desktop) {
            margin-bottom: abs.ptr(8);
            font-size: abs.ptr(54.4);
            max-width: abs.ptr(960);
        }
    }

    &__form {
        width: 100%;
        padding: abs.ptr(32) abs.ptr(48) abs.ptr(48);
        gap: abs.ptr(36.8);
        @include abs.flex(column, center, center);
        @include abs.breakpoint(tablet) {
            @include abs.flex(row, center, center);
            padding: abs.ptr(48) abs.ptr(64);
        }
        @include abs.breakpoint(desktop) {
            gap: abs.ptr(56);
            padding: abs.ptr(56);
        }
    }

    &__input-wrapper {
        width: 100%;
        @include abs.flex(row, center, center);
        gap: abs.ptr(16);
        color: abs.$deep-gray;
        padding: abs.ptr(16) abs.ptr(32);
        border-radius: abs.ptr(16);
        background-color: abs.$white;
        @include abs.breakpoint(tablet) {
            padding: abs.ptr(32);
        }
        @include abs.breakpoint(desktop) {
            padding: abs.ptr(32);
        }
    }

    &__input-icon {
        @extend %newsletter-fonts;
        color: abs.$deep-gray;
        font-size: abs.ptr(20.8);
        @include abs.breakpoint(tablet) {
            font-size: abs.ptr(27.2);
        }
    }

    &__input {
        width: 100%;
        border: none;
        min-height: abs.ptr(32);
        @extend %newsletter-fonts;
        @include base.circular-std-regular(1.5);
        @include abs.breakpoint(tablet) {
            min-width: abs.ptr(240);
        }

        &::placeholder {
            @extend %newsletter-fonts;
        }

        &:focus {
            outline: none;
        }
    }

    &__subscribe {
        width: 100%;
        padding: abs.ptr(24) abs.ptr(64);
        border-radius: abs.ptr(16);
        border: 0;
        white-space: nowrap;
        font-family: 'circular-std', 'sans-serif';
        font-weight: 450;
        @extend %newsletter-fonts;
        @extend .button-hover;
        cursor: pointer;
        background-color: abs.$primary-color;
        color: abs.$white;
        @include abs.breakpoint(tablet) {
            padding: abs.ptr(32);
            border-radius: abs.ptr(32);
            max-width: abs.ptr(232);
        }
    }
}
