@use '../abstract' as abs;
@use '../base' as base;

.testimonial {
    @include abs.flex(column, center, center);
    margin-top: abs.ptr(60.8);
    width: 100%;
    position: relative;
    @include abs.breakpoint(tablet) {
        margin-top: abs.ptr(144);
    }

    @include abs.breakpoint(desktop) {
        margin-top: abs.ptr(72);
    }
    &__background {
        position: absolute;
        opacity: 0;
        z-index: -1;
        @include abs.breakpoint(tablet) {
            opacity: 0.1;
            height: fit-content;
            top: -10%;
        }

        @include abs.breakpoint(desktop) {
            top: -30%;
        }

        &-image {
            height: 100%;
            width: 100%;
        }
    }
    &__section-name {
        text-align: center;
        margin-bottom: abs.ptr(16);
        @include base.section-title-heading;
    }

    &__section-heading {
        max-width: abs.ptr(480);
        text-align: center;
        @include base.section-description;
    }

    &__card-wrapper {
        width: 100%;
        max-width: abs.ptr(400);

        @include abs.breakpoint(tablet) {
            max-width: abs.ptr(896);
        }

        @include abs.breakpoint(desktop) {
            max-width: abs.ptr(1200);
        }
    }

    &__card {
        width: 100%;
        max-width: abs.ptr(400);
        height: 100%;
        padding: abs.ptr(64) 0;
        margin-inline: auto;
        @include abs.flex(column, center, center);
        @include abs.breakpoint(tablet) {
            max-width: abs.ptr(560);
            padding: abs.ptr(56) 0;
        }
        @include abs.breakpoint(desktop) {
            padding: abs.ptr(48) 0 0 abs.ptr(16);
            max-width: abs.ptr(848);
        }
    }

    &__avatar {
        width: abs.ptr(128);
        margin-bottom: abs.ptr(64);
        @include abs.breakpoint(tablet) {
            margin-bottom: abs.ptr(59.2);
        }
    }

    &__username {
        @include abs.line-clamp(1);
        max-width: abs.ptr(480);
        margin-bottom: abs.ptr(32);
        color: abs.$transparent-gray;
        @include base.circular-std-regular(1.5);
        &--highlighted {
            @include base.circular-std-regular(1.7);
            color: abs.$accent-orange;
        }
    }

    &__rating {
        margin-bottom: abs.ptr(64);
        @include abs.flex(row, center, center);
        gap: abs.ptr(19.2);
        &-icon {
            font-size: abs.ptr(28.8);
        }

        @include abs.breakpoint(tablet) {
            margin-bottom: abs.ptr(56);
        }
    }

    &__comment {
        @include abs.line-clamp(4);
        font-family: 'inter';
        font-size: abs.ptr(17.6);
        text-align: center;
        line-height: 160%;
        max-width: abs.ptr(387.2);
        color: abs.$transparent-gray;

        @include abs.breakpoint(tablet) {
            font-size: abs.ptr(22.4);
            max-width: abs.ptr(864);
        }

        @include abs.breakpoint(desktop) {
            max-width: abs.ptr(816);
        }
    }
}

.splide {
    position: relative;
    &__pagination {
        position: relative;
        @include abs.flex(row, center, center);
        gap: abs.ptr(16);

        top: abs.ptr(3.2);
        .is-active {
            width: abs.ptr(19.2);
            height: abs.ptr(19.2);
            background-color: abs.$secondary-color;
        }

        @include abs.breakpoint(desktop) {
            top: abs.ptr(48);
        }
    }

    &__pagination__page {
        opacity: 1;
        width: abs.ptr(24);
        height: abs.ptr(24);
        border-radius: 100%;
        border: 0;
        background-color: abs.$light-gray;
    }

    &__arrows {
        position: relative;
        max-width: 100%;
    }

    &__arrow {
        position: absolute;
        cursor: pointer;
        opacity: 1;
        width: abs.ptr(64);
        height: abs.ptr(64);
        top: abs.ptr(672);
        border-radius: 100%;
        border: abs.ptr(1.6) solid abs.$light-gray;
        background-color: abs.$primary-color;
        @include abs.flex(row, center, center);
        @include abs.breakpoint(tablet) {
            top: abs.ptr(240);
        }

        @include abs.breakpoint(desktop) {
            top: abs.ptr(224);
        }

        &-icon {
            font-size: abs.ptr(16);
            color: abs.$white;
        }

        @include abs.breakpoint(tablet) {
            width: abs.ptr(104);
            height: abs.ptr(104);
        }

        &:hover {
            @include abs.drop-shadow();
        }

        &--next {
            right: 0;
        }

        &--prev {
            left: 0;
        }
        &:disabled {
            cursor: not-allowed;
            opacity: 50%;
        }
    }
}
