@use '../abstract' as abs;
@use '../components/' as comp;
@use '../base/' as base;

.testimonial {
    @include abs.flex(column, center, center);
    margin-top: 4rem;
    width: 100%;

    @include abs.breakpoint(medium) {
        margin-top: 8.7rem;
    }
    &__background {
        position: relative;
        height: 0;
        opacity: 0%;

        @include abs.breakpoint(medium) {
            opacity: 10%;
            bottom: 6rem;
        }

        @include abs.breakpoint(large) {
            bottom: 11rem;
        }
    }
    &__section-name {
        text-align: center;
        margin-bottom: 1rem;
        @include base.section-name-heading;
    }

    &__section-heading {
        text-align: center;
        @include base.section-description;
    }

    &__card-wrapper {
        width: 100%;
        @include abs.flex(row, center, center);
        max-width: 70rem;
        overflow: hidden;
    }

    &__card {
        width: 100%;
        min-width: 70rem;
        height: 100%;
        padding: 4rem 0;
        @include abs.flex(column, center, center);
        @include abs.breakpoint(medium) {
            padding: 3rem 0;
        }
        @include abs.breakpoint(large) {
            padding: 3.5rem 0;
        }
    }

    &__avatar {
        width: 8rem;
        margin-bottom: 4rem;
        @include abs.breakpoint(medium) {
            margin-bottom: 3.8rem;
        }
    }

    &__username {
        margin-bottom: 2rem;
        color: abs.$transparent-gray;
        @include base.circular-std-regular(22);
        &--highlighted {
            @include base.circular-std-regular(30);
            color: abs.$accent-orange;
        }
    }

    &__rating {
        margin-bottom: 4.5rem;
        @include abs.flex(row, center, center);
        gap: 1.5rem;
        i {
            font-size: 1.5rem;
        }

        @include abs.breakpoint(medium) {
            margin-bottom: 4rem;
        }
    }

    &__comment {
        font-family: 'inter';
        font-size: 1.1rem;
        text-align: center;
        line-height: 160%;
        max-width: 24.2rem;
        color: abs.$transparent-gray;

        @include abs.breakpoint(medium) {
            font-size: 1.4rem;
            max-width: 36rem;
        }

        @include abs.breakpoint(large) {
            max-width: 51rem;
        }
    }

    &__navigation-container {
        height: 0;
        @include abs.flex(row, space-between, center);
        width: 100%;
        padding: 0 1rem;
        position: relative;
        top: 42rem;

        @include abs.breakpoint(medium) {
            top: 15rem;
            padding: 0 4rem;
        }

        @include abs.breakpoint(large) {
            padding: 0 7.2rem;
            top: 14.2rem;
        }
    }

    &__navigation {
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        border: 1px solid abs.$light-gray;
        background-color: abs.$primary-color;
        @include abs.flex(row, center, center);
        i {
            font-size: 1rem;
            color: abs.$white;
        }

        @include abs.breakpoint(medium) {
            width: 6.5rem;
            height: 6.5rem;
        }

        &:hover {
            box-shadow: 0px 41px 90px #{abs.$shadow-color};
        }

        &--disabled {
            background-color: abs.$white;
            i {
                color: abs.$dark;
            }
        }
    }
}

.splide {
    &__pagination {
        position: relative;
        @include abs.flex(row, center, center);
        gap: 1rem;
        .is-active {
            background-color: abs.$secondary-color;
            width: 1rem;
            height: 1rem;
        }
    }

    &__pagination__page {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        border: 0;
        background-color: abs.$light-gray;
    }

    &__arrows {
        position: absolute;
        top: 100rem;
        max-width: 100%;
    }

    &__arrow {
        cursor: pointer;
        opacity: 1;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        border: 1px solid abs.$light-gray;
        background-color: abs.$primary-color;
        @include abs.flex(row, center, center);

        i {
            font-size: 1rem;
            color: abs.$white;
        }

        @include abs.breakpoint(medium) {
            width: 6.5rem;
            height: 6.5rem;
        }

        &:hover {
            box-shadow: 0px 41px 90px #{abs.$shadow-color};
        }

        &--next {
            i {
                color: abs.$dark;
            }
        }
        &:disabled {
            background-color: abs.$white;
            color: black;
            i {
                color: abs.$dark;
            }
        }
    }
}
