@use '../base/' as base;
@use '../abstract/' as abs;

@mixin button-template(
    $padding-y,
    $padding-x,
    $font-size: 8,
    $button-type: primary
) {
    padding: #{$padding-y}rem #{$padding-x}rem;
    border-radius: 100px;
    white-space: nowrap;

    @if $button-type == primary {
        color: abs.$custom-light-gray;
    } @else {
        background-color: abs.$primary-color;
        color: #ffffff;
        border: 1px solid abs.$custom-light-gray;
    }

    @include base.circular-std-regular($font-size);
}
