@use '../base' as base;
@use '../abstract' as *;

@mixin button-template(
    $padding-y,
    $padding-x,
    $font-size: 8,
    $button-type: primary
) {
    padding: #{$padding-y}rem #{$padding-x}rem;
<<<<<<< HEAD
    border-radius: 5rem;
    border: 0;
    white-space: nowrap;
    font-family: 'circular-std', 'sans-serif';
    font-weight: 450;
    font-size: #{$font-size}rem;
    cursor: pointer;
=======
    border-radius: 100px;
    white-space: nowrap;
>>>>>>> ccb9872 (folder restructure)

    @if $button-type == primary {
        color: $deep-gray;
    } @else {
        background-color: $primary-color;
        color: #ffffff;
    }
}
