@use '../base' as *;
@use '../abstract' as *;

@mixin button-template(
    $padding-y,
    $padding-x,
    $font-size: 8,
    $button-type: primary
) {
    @include circular-std-regular($font-size);
    padding: #{$padding-y}rem #{$padding-x}rem;
    border-radius: ptr(80);
    border: 0;
    white-space: nowrap;
    font-family: 'circular-std', 'sans-serif';
    font-weight: 450;
    font-size: #{$font-size}rem;
    cursor: pointer;

    @if $button-type == primary {
        color: $deep-gray;
    } @else {
        background-color: $primary-color;
        color: #ffffff;
    }
}

.button-hover {
    &:hover {
        opacity: 0.5;
    }
}
