@use './variables' as *;
<<<<<<< HEAD
/// Font-Face Mixin
/// Dynamically generates a @font-face rule for custom fonts.
///
/// @param {String} $name        - Font family name to be used in CSS.
/// @param {String} $file        - Path to the font file (excluding extension).
/// @param {String} $weight      - Font weight (default: normal).
/// @param {String} $style       - Font style (default: normal).
/// @param {String} $display     - Font display strategy for performance (default: swap).
///
=======
@mixin flex($direction, $justify, $align, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin responsive-layout() {
    width: 100%;
    @include flex(column, center, center);
    @include breakpoint(large) {
        flex-direction: $flex-direction;
    }
}

@mixin button-drop-shadow {
}

@mixin images-cover {
    height: 100%;
    width: 100%;
    background-size: cover;
}
// Font mixin
>>>>>>> ccb9872 (folder restructure)
@mixin font-face(
    $name,
    $file,
    $weight: normal,
    $style: normal,
    $display: swap
) {
    @font-face {
        font-family: $name;
        src:
            url('#{$file}.woff2') format('woff2'),
            url('#{$file}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
        font-display: $display;
    }
}
@mixin flex($direction, $justify, $align, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin drop-shadow($color: $shadow-color, $y: 1rem, $blur: 1rem) {
    box-shadow: 0rem #{$y} #{$blur} #{$color};
}

@mixin images-cover {
    height: 100%;
    width: 100%;
    background-size: cover;
}
