// Font mixin
@mixin font-face(
    $name,
    $file,
    $weight: normal,
    $style: normal,
    $display: swap
) {
    @font-face {
        font-family: $name;
        src:
            url('#{$file}.woff2') format('woff2'),
            url('#{$file}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
        font-display: $display;
    }
}
