// Core layer imports
@use 'abstract' as *;
@use 'base' as *;
@use 'themes' as *;
@use 'vendors' as *;

// Layout and Components
@use 'layout' as *;
@use 'components' as *;

.outer-wrapper {
    max-width: 120rem;
    margin: auto;
}
:focus-visible {
    outline: 0.1rem solid $deep-gray;
}

body {
    @extend .outer-wrapper;
}
