@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot?cb5ral');
    src:
        url('./fonts/icomoon.eot?cb5ral#iefix') format('embedded-opentype'),
        url('./fonts/icomoon.ttf?cb5ral') format('truetype'),
        url('./fonts/icomoon.woff?cb5ral') format('woff'),
        url('./fonts/icomoon.svg?cb5ral#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: '\e900';
}
.icon-arrow-right:before {
    content: '\e901';
    color: #fff;
}
.icon-breifcase:before {
    content: '\e902';
    color: #f85e9f;
}
.icon-calender:before {
    content: '\e903';
    color: #fff;
}
.icon-card-clip:before {
    content: '\e904';
    color: #fff;
}
.icon-facebook:before {
    content: '\e905';
    color: #5d50c6;
}
.icon-instagram:before {
    content: '\e906';
    color: #fff;
}
.icon-location:before {
    content: '\e907';
    color: #fff;
}
.icon-mail:before {
    content: '\e908';
}
.icon-play:before {
    content: '\e909';
    color: #5d50c6;
}
.icon-star:before {
    content: '\e90a';
    color: #facd49;
}
