@use '../abstract' as abs;

@mixin circular-std-regular($font-size) {
    font-style: normal;
    font-weight: 700;
    font-size: #{$font-size}rem;
    line-height: 120%;
    letter-spacing: 0;
}

@mixin card-description-regular {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0;
    font-family: 'inter';
    color: abs.$transparent-gray;
    text-align: center;
    @include abs.breakpoint(tablet) {
        font-size: 1.2rem;
    }
}

h1 {
    @include circular-std-regular(3);
    @include abs.breakpoint(tablet) {
        @include circular-std-regular(3.5);
    }
    @include abs.breakpoint(desktop) {
        @include circular-std-regular(4);
    }
}

.base-font {
    font-family: 'circular-std';
}

body {
    @extend .base-font;
}

@mixin section-title-heading {
    @include circular-std-regular(1);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: abs.$secondary-color;

    @include abs.breakpoint(tablet) {
        @include circular-std-regular(1.6);
        letter-spacing: 0.2rem;
    }
}

@mixin section-description {
    @include circular-std-regular(2);
    color: abs.$dark;

    @include abs.breakpoint(tablet) {
        @include circular-std-regular(2.5);
    }

    @include abs.breakpoint(desktop) {
        @include circular-std-regular(2.75);
    }
}

@mixin section-name-heading {
    @include circular-std-regular(16);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: abs.$secondary-color;

    @include abs.breakpoint(medium) {
        @include circular-std-regular(25);
    }
}

@mixin section-description {
    @include circular-std-regular(32);
    color: abs.$dark;

    @include abs.breakpoint(medium) {
        @include circular-std-regular(41);
    }

    @include abs.breakpoint(large) {
        @include circular-std-regular(45);
    }
}
