@mixin circular-std-regular {
    font-family: 'circular-std-bold';
    font-style: normal;
    font-weight: 700;
    font-size: #{$font-size}px;
    line-height: 120%;
    letter-spacing: 0%;
    font-family: 'circular-std';
}
